/* Base Styles */
img {
  max-width: 100%;
}

/* Container */
.container {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
}

/* Navigation */
.navigation {
  position: sticky;
  z-index: 1;
}

.navigation__title {
  color: #5C6166;
}

.navigation__items {
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-inline-start: 40px;
  padding: 0;
}

.navigation__item {
  -webkit-user-select: none;
  border-inline-start: 6px solid transparent;
  display: list-item;
  padding-inline-start: 18px;
  text-align: -webkit-match-parent;
}

.navigation__item a {
  border: 0;
  color: #999;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: 29px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navigation__item.selected {
  border-inline-start-color: #4e5764;
}

.navigation__item.selected a {
  color: #464E5A;
}

/* Social and Website */
.social-connect {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  width: 150px;
}

.social-connect__link {
  background-color: #f3f2f3;
  border-radius: 2px;
  border: 1px solid #d0cdd0 !important;
  display: block;
  height: 24px;
  padding: 11px;
  transition: background-color .25s;
  width: 24px;
}

.social-connect__link:hover {
  background-color: #e6e5e6;
}
